@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Teko:wght@300..700&display=swap');
:root{
    --cor-de-fundo: #4ac1d6a1;
    --cor-da-letra: #08175c;
    --cor-da-letra2: #2e51f0;
    --fundo-senha: #6c8bee;
    --fundo-texto: #98c3e0;
    --fundo-texto2: #9348f541;
    --borda: #065481;
    --fonte1: "Abril Fatface";
    --fonte2: "Teko" ;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-letra);
    font-family: var(--fonte);
}

.conteudo{
    margin: 0 auto;
    width: 1200px;
 }
    
.imagem{
     width: 10%;
     margin: 1em 2em 0 1em; /*tamanho do lado*/
     justify-content: center;
 }
    
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-family: var(--fonte1);
}
    
.titulo-secundario{
    text-align: center;
    width: 100%;
    margin: 0 0 0 3em;
    font-size: 23px;
 }

.conteudo-titulo{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 100%;
     margin: 10px;
     text-align: center;
     margin-top: 80px;
 }
 /*quadradinho aonde escreve a senha*/
.conteudo-senha{ 
    font-family: var(--fonte);
    margin-top: 50px;
    background: var(--fundo-texto);
    padding:10px;
    border-bottom: 2px solid var(--borda);
    border-top: 2px solid var(--borda);
    border-radius: 40px; /* arredonda as ponta */
}

#campo-senha{
    background-color: var(--fundo-texto); /* a mesma do fundo senha*/
    border: none;
    color: var(--cor-da-letra2);
    font-size: 20px;
    width: 70%;
}

#campo-senha:focus{
    outline: none;
}

.parametro{
    background-color: var(--fundo-texto);
    border: 2px  /* grossura*/ solid var(--borda);
    margin-top: 20px;
    padding: 7px;
}

/* border: 1px ( espessura ) solid ( color (R,G,B)} cor )*/

.parametro-titulo{
    font-size:  30px;
    text-align: center;
    font-family: var(--fonte2) 
    
}

.parametro-senha{
    width: 40%; /*tamanho*/
    margin: 7px;
    border: 2px solid var(--borda);
}

.parametro-coluna-senha{
    display: flex;
    flex-direction: row; /* para um ficar um do lado do outro*/
    justify-content: center;

}

.parametro-senha-titulo{
    width: 50%;
    font-size: 18px;
}

.parametro-senha-botoes{
    display: flex;
    justify-content: center;
}

.parametro-senha-texto{ /* numero 12 */
    padding: 20px;
    border-top: 2px solid var(--borda);
    border-bottom: 2px solid var(--borda);
    margin: 0 ;

}

.parametro-senha-botao{ /* edita os sinais + e - */
    display: flex;
    padding: 12px;
    align-items: center;
    width: 8%;
    border-top: 2px solid var(--borda) ;
    border-bottom: 2px solid var(--borda);
    border: 2px solid var(--borda);
    color: var(--cor-da-letra); 
    background-color: var(--fundo-texto2);
    cursor: pointer;
}

label{
    font-size: 15px;
    width: 80px;
    height: 18px;
    cursor: pointer;
}

.checkbox{
    width: 30px;
    height: 20px;
    font-size: 40px;
}

.barra{
    background-color: var(--fundo-senha);
    height: 30px;
    width: 100%;
}

.fraco{
    height: 30px;
    width: 30%;
    background-color: red;
    position: relative;
    bottom: 30px;
}


