

:root{
    --cor-de-fundo: #4ac1d6a1;
    --cor-da-letra: #0330fa;
    --fundo-senha: #98c3e0;
    --fundo-texto: #909de6;
    --borda: #065481;
    --fonte: ;
    --fonte: ;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-da-letra);
    font-family: var(--fonte);
}

.conteudo{
    margin: 20px;
 }
    
.imagem{
     width: 10%;
     margin: 1em 2em 0 36em;
     justify-content: center;
 }
    
.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-family: var(--fonte);
}
    
.titulo-secundario{
    text-align: center;
    width: 100%;
    margin: 0 0 0 3em;
    font-size: 23px;
 }

.conteudo-titulo{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 100%;
     margin: 10px;
     text-align: center;
     margin-top: 80px;
 }
 /*quadradinho aonde escreve a senha*/
.conteudo-senha{ 
    margin-top: 97px;
    background: var(--fundo-senha);
    padding:10px;
    border-bottom: 2px solid var(--borda);
    border-top: 2px solid var(--borda);
}

#campo-senha{ /* não gostei é obrigatorio?*/
    background-color: var(--fundo-texto);
    border: none;
    color: var(--cor-da-letra);
    width: 70%;
}